.header {
  width: 95%;
  height: 5rem;
  color: rgb(0, 0, 0);
  display: flex;
  gap: 1rem;
  align-items: center;
  margin: 0 auto;
}

.header h1 {
  font-size: 1.5rem;
}

.header img {
  height: 3rem;
  width: 3rem;
}

.booking-table-btns {
  width: 95%;
  margin: 0 auto;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
}

.booking-table-btns > * {
  flex-shrink: 1;
  flex-grow: 1;
  flex-basis: 0;
  width: 60%;
  font-size: 0.75rem;
}

.booking-table-btns--modified {
  background-color: #9f1c21;
}

.button {
  cursor: pointer;
  border: none;
  background-color: #2f7972;
  color: white;
  padding: 0.75rem 3rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
  font-weight: bold;
  text-transform: uppercase;
}

.button:hover,
.button:active {
  background-color: #2f7972;
}

@media (min-width: 600px) {
  .header h1 {
    font-size: 2rem;
  }

  .header img {
    height: 4rem;
    width: 4rem;
  }

  .booking-table-btns {
    flex-direction: row;
    flex-wrap: nowrap;
  }
}
