.button {
  font: inherit;
  border: 1px solid #2f7972;
  background: #2f7972;
  color: white;
  padding: 0.25rem 1rem;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 10px;
  font-weight: bold;
}

.button:hover,
.button:active {
  background: #1faa9c;
  border-color: #1faa9c;
}

.button:focus {
  outline: none;
}
